{{#result}}
	<div class="waterfall-item">
		<a href="#" class="img">
			<img src="users/tmp/1.jpg" alt=""/>
			<span class="img-hover"></span>
		</a>
		<div class="box-title">
			<a href="#" class="caption">茄子</a>
			<span class="source">来源: <a href="#">淘宝网</a></span>
		</div>
		<div class="box-handle">
				<span class="btn-group">
					<button class="fa fa-heart active"> 59</button>
					<button class="fa fa-star"> 20</button>
					<button class="fa fa-comment"> 3</button>
				</span>
		</div>
	</div>
{{/result}}