body {
  background-color: #eeeeee;
  color: #333333;
}
.osk-header.isStuck {
  position: fixed;
  z-index: 1030;
  background: #ffffff;
  height: 100px;
}
.osk-header {
  position: fixed;
  z-index: 1030;
  background: #ffffff;
  height: 60px;
}
.osk-box {
  margin: 10px auto;
}
.navbar-osk.isStuck {
  z-index: 1030;
  background: #ffffff;
}
.navbar-osk {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar-osk .container {
  position: relative;
}
.navbar-osk .navbar-text {
  color: #bbbbbb;
}
.navbar-osk .logo h1 {
  margin: 0;
  line-height: 20px;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.6s ease;
}
.navbar-osk .logo h1:hover,
.navbar-osk .logo h1:focus {
  color: transparent;
  text-decoration: none;
  text-shadow: 0 0 3px #ffff66;
  background-color: transparent;
}
.navbar-osk .navbar-nav {
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
}
.navbar-osk .navbar-nav > li > a {
  color: #eeeeee;
}
.navbar-osk .navbar-nav > li > a:hover,
.navbar-osk .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-osk .navbar-nav > li > a.register {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 6px 12px;
    top: 8px;
    margin-left: 10px;
  }
  .navbar-osk .navbar-nav > li > a.register:hover,
  .navbar-osk .navbar-nav > li > a.register:focus {
    color: #ffffff;
    border: 2px solid #ffffff;
    background: #ffffff;
  }
}
.navbar-osk .navbar-nav > .active > a,
.navbar-osk .navbar-nav > .active > a:hover,
.navbar-osk .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-osk .navbar-nav > .disabled > a,
.navbar-osk .navbar-nav > .disabled > a:hover,
.navbar-osk .navbar-nav > .disabled > a:focus {
  color: #222222;
  background-color: transparent;
}
.navbar-osk .navbar-session {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 767px) {
  .navbar-osk .navbar-session {
    position: static;
  }
}
.navbar-osk .navbar-toggle {
  border-color: #eeeeee;
}
.navbar-osk .navbar-toggle:hover,
.navbar-osk .navbar-toggle:focus {
  border-color: #ffffff;
  background-color: transparent;
}
.navbar-osk .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-osk .navbar-brand .logo {
  display: block;
}
@media (min-width: 768px) {
  .navbar-osk .navbar-brand .logo {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-osk .navbar-collapse .logo {
    display: none;
  }
}
.navbar-osk .navbar-form {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
@media (max-width: 767px) {
  .navbar-osk .navbar-form {
    position: relative;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    border: 0;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.navbar-osk .navbar-form .osk-search {
  position: relative;
  width: 150px;
  line-height: 26px;
  margin-top: 2px;
}
.navbar-osk .navbar-form .osk-search button {
  position: absolute;
  color: #eeeeee;
  top: 7px;
  right: 5px;
  z-index: 20;
  outline: 0;
  border: 0;
  background: transparent;
  transition: all 0.3s ease-out 0s;
}
.navbar-osk .navbar-form .osk-search input.search {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2px 35px 2px 10px;
  font-size: 14px;
  background: transparent;
  border: 1px solid #eeeeee;
  color: #eeeeee;
  transition: all 0.3s ease-out 0s;
  z-index: 10;
}
.navbar-osk .navbar-form .osk-search input.search:focus {
  color: #ffffff;
  border-color: #ffffff;
  width: 230px;
}
.navbar-osk .navbar-form .osk-search input.search:focus + button {
  color: #ffffff;
  right: -75px;
  transition: all 0.3s ease-out 0s;
}
.navbar-osk .navbar-form .osk-search input.search::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.navbar-osk .navbar-form .osk-search input.search:-ms-input-placeholder {
  color: #ffffff;
}
.navbar-osk .navbar-form .osk-search input.search::-webkit-input-placeholder {
  color: #ffffff;
}
.navbar-osk .navbar-nav > .open > a,
.navbar-osk .navbar-nav > .open > a:hover,
.navbar-osk .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-osk .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-osk .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-osk .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-osk .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-osk .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-osk .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-osk .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-osk .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-osk .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #222222;
    background-color: transparent;
  }
}
.navbar-osk .navbar-link {
  color: #ffffff;
}
.navbar-osk .navbar-link:hover {
  color: #ffffff;
}
.navbar-osk .btn-link {
  color: #ffffff;
}
.navbar-osk .btn-link:hover,
.navbar-osk .btn-link:focus {
  color: #ffffff;
}
.navbar-osk .btn-link[disabled]:hover,
fieldset[disabled] .navbar-osk .btn-link:hover,
.navbar-osk .btn-link[disabled]:focus,
fieldset[disabled] .navbar-osk .btn-link:focus {
  color: #ffffff;
}
.panel-screening {
  margin-right: 20px;
}
.panel-screening .screening {
  position: relative;
  margin: 10px;
}
.panel-screening .screening .class-tag {
  position: absolute;
  display: inline-block;
  width: 100px;
  color: #cccccc;
}
.panel-screening .screening .class-link {
  display: inline-block;
  padding-left: 100px;
}
.panel-screening .screening .class-link a {
  padding: 2px;
  margin-right: 20px;
  color: #333333;
  text-decoration: none;
}
.panel-screening .screening .class-link a:hover {
  padding: 1px;
  border: 1px solid #333333;
}
.panel-screening .screening .class-link a.active {
  padding: 2px;
  margin-right: 30px;
  color: #ffffff;
  background-color: #333333;
  text-decoration: none;
}
.panel-screening .screening .class-link a.active:hover {
  padding: 1px;
  border: 1px solid #333333;
}
.waterfall-container .waterfall-item {
  position: relative;
  width: 200px;
  line-height: 1.5;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#adacac, direction=135, strength=2);
}
.waterfall-container .waterfall-item a.img {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  text-decoration: none;
  outline: 0;
}
.waterfall-container .waterfall-item a.img img {
  width: 100%;
  height: 100%;
}
.waterfall-container .waterfall-item a.img:hover > .img-hover,
.waterfall-container .waterfall-item a.img:active > .img-hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.waterfall-container .waterfall-item a.img .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: transparent;
}
.waterfall-container .waterfall-item .box-title {
  position: relative;
  height: 45px;
  margin-top: 5px;
  margin-left: 10px;
}
.waterfall-container .waterfall-item .box-title .caption {
  display: block;
  font-size: 16px;
  color: #333333;
  margin-bottom: 3px;
}
.waterfall-container .waterfall-item .box-title .source {
  display: block;
  font-size: 12px;
  color: #cccccc;
}
.waterfall-container .waterfall-item .box-handle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  border-top: 1px solid #f2f2f2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}
.waterfall-container .waterfall-item .box-handle .btn-group {
  margin: 0 auto;
}
.waterfall-container .waterfall-item .box-handle .btn-group button {
  color: #bbbbbb;
  outline: none;
  border: 0;
  background-color: transparent;
}
.waterfall-container .waterfall-item .box-handle .btn-group button:hover,
.waterfall-container .waterfall-item .box-handle .btn-group button:active {
  color: #333333;
}
.waterfall-container .waterfall-item .box-handle .btn-group button.active {
  color: palevioletred;
}
/*
 * page-navigation
 */
#page-navigation {
  text-align: center;
  padding: 20px 0 50px 0;
  display: none;
}
#page-navigation a {
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  color: #333333;
  border: 1px solid #dddddd;
  background: #ffffff;
  text-decoration: none;
}
#page-navigation a:hover {
  border: 1px #003300 solid;
  background: #003300;
  color: #ffffff;
}
#page-navigation a.cur {
  border: 1px #003300 solid;
  background: #003300;
  color: #ffffff;
}
#page-navigation .page-navigation-prev,
#page-navigation .page-navigation-next {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  width: 80px !important;
}
#page-navigation span.disabled {
  color: #dddddd;
  border: 1px #dddddd solid;
}
.osk-footer {
  background-color: #ffffff;
  border-top: 5px solid #003300;
  overflow: hidden;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.osk-footer a {
  font-size: 12px;
  color: #333333;
}
.osk-footer a:hover,
.osk-footer a:active {
  color: #444444;
  text-decoration: none;
  outline: 0;
}
.osk-footer .copyright {
  line-height: 22px;
  margin-top: 15px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.osk-footer .copyright .copy-main {
  margin-left: 170px;
  margin-right: -20px;
}
.osk-footer .copyright .copy-main .item {
  float: left;
  height: 128px;
  padding: 0 40px;
  border-left: 1px dotted #d2d2d2;
}
.osk-footer .copyright .copy-main .item dl {
  margin: 0;
}
.osk-footer .copyright .copy-main .item dl dt {
  color: #bbbbbb;
  font-size: 14px;
  font-weight: normal;
}
.osk-footer .copyright .copy-main .item dl dd {
  margin-left: 0;
}
.osk-footer .copyright .copy-main .item-apps {
  text-align: center;
  padding: 0 25px;
  color: #333333;
}
.osk-footer .copyright .copy-main .item-apps .android {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(../img/android-qrcode.jpg) center center no-repeat;
  background-size: cover;
}
.osk-footer .copyright .copy-main .item-apps .ios {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(../img/ios-qrcode.jpg) center center no-repeat;
  background-size: cover;
}
.osk-footer .copy-footer {
  clear: both;
  background: #dddddd;
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
}
.osk-footer .copy-footer p {
  margin: 0;
}
@media (max-width: 1199px) {
  .osk-footer .copyright .copy-main {
    margin: 0 -40px 0 80px;
  }
}
@media (max-width: 991px) {
  .osk-footer .copyright .copy-main {
    margin: 0 -70px;
  }
}
@media (max-width: 800px) {
  .osk-footer .copyright {
    display: none;
  }
  .osk-footer .copy-footer {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .osk-footer .copyright {
    display: none;
  }
  .osk-footer .copy-footer {
    margin-top: 0;
  }
}
#elevator_item {
  width: 50px;
  position: fixed;
  right: 15px;
  bottom: 10px;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  opacity: 1;
  z-index: 9999;
}
#elevator_item .hidden {
  display: none;
}
#elevator_item .show {
  display: block;
}
#elevator {
  display: block;
  width: 50px;
  height: 50px;
  background: url(../img/icon_top.png) center center no-repeat;
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-bottom: 10px;
}
