@import "../library/bootstrap/less/variables.less";
@import "bootstrap-social.less";
@import "defind-variables.less";
@import "navs";
@import "timeline";

.box-default-shadow(){
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.placeholder(@color: @main-text-color) {
	&::-moz-placeholder           { color: @color;   // Firefox
		opacity: 1; } // See https://github.com/twbs/bootstrap/pull/11526
	&:-ms-input-placeholder       { color: @color; } // Internet Explorer 10+
	&::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}

body {
	background-color: #EEEEEE;
	color: @main-text-color;
}

.container.osk-box {
	margin-top: 90px;
	margin-bottom: 10px;
}

.navbar-osk.isStuck{
	z-index: @zindex-navbar-fixed;
	background: @navbar-transparent-bg-color;
	.logo {
		top: 0;
		border: 0;
		background: transparent;
		transition: all 0.5s ease-out 0s;
	}
}

.navbar-osk {
	background-color: @body-bg;
	border-color: transparent;
	height: 80px;
	margin-bottom: 0;
	.box-default-shadow();
	.logo {
		position: absolute;
		top: 20px;
		left: 50%;
		margin-left: -56px;
		z-index: @zindex-navbar-fixed;
		border: 1px solid transparent;
		background: @body-bg;
		.box-default-shadow();
		transition: all 0.3s ease-out 0s;
		a {
			img {
				width: 100px;
				height: 80px;
			}
		}
	}

	.navbar-text {
		color: @navbar-default-color;
	}

	.navbar-nav {
		> li > a {
			color: @navbar-default-link-color;

			&:hover,
			&:focus {
				color: @navbar-default-link-hover-color;
				background-color: @navbar-default-link-hover-bg;
			}
		}
		> .active > a {
			&,
			&:hover,
			&:focus {
				color: @navbar-default-link-active-color;
				background-color: @navbar-default-link-active-bg;
			}
		}
		> .disabled > a {
			&,
			&:hover,
			&:focus {
				color: @navbar-default-link-disabled-color;
				background-color: @navbar-default-link-disabled-bg;
			}
		}
	}

	.navbar-toggle {
		border-color: @navbar-default-toggle-border-color;
		&:hover,
		&:focus {
			background-color: @navbar-default-toggle-hover-bg;
		}
		.icon-bar {
			background-color: @navbar-default-toggle-icon-bar-bg;
		}
	}

	.navbar-collapse {margin-top: 30px;}

	.navbar-collapse,
	.navbar-form {
		border-color: @navbar-default-border;
	}

	.navbar-form {
		@media (max-width: @grid-float-breakpoint-max) {
			position: relative;
			margin: 0 auto;
			display: table;
			table-layout: fixed;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		.osk-search {
			position: relative;
			width: 230px;
			button {
				position: absolute;
				color: @navbar-default-color;
				top: 7px;
				left: 140px;
				z-index: 20;
				outline: 0;
				border: 0;
				background: @transparent-bg-color;
				transition: all 0.3s ease-out 0s;
			}

			input.search {
				width: 170px;
				font-size: 14px;
				padding: 5px 35px 5px 10px;
				background: @transparent-bg-color;
				border: 1px solid @navbar-default-color;
				color: @navbar-default-color;
				transition: all 0.3s ease-out 0s;

				&:focus {
					color: @navbar-default-link-hover-color;
					border-color: @navbar-default-link-hover-color;
					width: 230px;
				}
				&:focus + button {
					color: @navbar-default-link-hover-color;
					left: 200px;
					transition: all 0.3s ease-out 0s;
				}
				.placeholder(@navbar-default-link-hover-color);
			}
		}
	}

	.navbar-nav {
		> .open > a {
			&,
			&:hover,
			&:focus {
				background-color: @navbar-default-link-active-bg;
				color: @navbar-default-link-active-color;
			}
		}

		@media (max-width: @grid-float-breakpoint-max) {
			.open .dropdown-menu {
				> li > a {
					color: @navbar-default-link-color;
					&:hover,
					&:focus {
						color: @navbar-default-link-hover-color;
						background-color: @navbar-default-link-hover-bg;
					}
				}
				> .active > a {
					&,
					&:hover,
					&:focus {
						color: @navbar-default-link-active-color;
						background-color: @navbar-default-link-active-bg;
					}
				}
				> .disabled > a {
					&,
					&:hover,
					&:focus {
						color: @navbar-default-link-disabled-color;
						background-color: @navbar-default-link-disabled-bg;
					}
				}
			}
		}
	}
	.navbar-link {
		color: @navbar-default-link-color;
		&:hover {
			color: @navbar-default-link-hover-color;
		}
	}

	.btn-link {
		color: @navbar-default-link-color;
		&:hover,
		&:focus {
			color: @navbar-default-link-hover-color;
		}
		&[disabled],
		fieldset[disabled] & {
			&:hover,
			&:focus {
				color: @navbar-default-link-disabled-color;
			}
		}
	}
}

.osk-page {
	display: inline-block;
	width: 100%;
	background: @body-bg;
	.box-default-shadow();
	.carousel {
		.carousel-inner>.item>img, .carousel-inner>.item>a>img {
			width: 100%;
			height: 300px;
		}
	}

	.article-creale {
		margin: 100px auto;
		width: 70%;

		.pictures {
			margin: 10px auto;
			border-bottom: 1px dashed @navbar-default-border;
			.picture-group {
				position: relative;
				margin: 10px auto;
				padding: 10px;
				width: 100%;
				outline: 1px solid #ccc;
				background-color: @main-bg-color;
				overflow: hidden;
				.delete-image {
					position: absolute;
					right: 10px;
					top: 10px;
					display: block;
					width: 16px;
					height: 16px;
					text-align: center;
					vertical-align: middle;
					font-weight: normal;
					line-height: 16px;
					color: #999;
					text-decoration: none;
				}

				.thumbnail-img {
					float: left;
					margin-right: 20px;
					width: 120px;
					height: 100%;
					overflow: hidden;
					.image-name{
						color:#666;
						margin: 0;
						font-weight: normal;
					}
					.image-thumb {
						margin-top: 10px;
						position: relative;
						zoom: 1;
						img {
							width: 120px;
							height: 120px;
						}
					}
				}
				.image-desc {
					display: block;
					margin-left: 140px;
					.field{
						display: block;
						color:#666;
						margin: 0;
						font-weight: normal;
					}

					textarea {
						margin-top: 10px;
						width: 90%;
						height: 90px;
						resize: vertical;
					}

					a {
						display: block;
						text-decoration: none;
					}
				}

			}
		}
	}

	.cookbook-creale {
		margin: 100px auto;
		width: 80%;

		.cookbook-form {
			min-width: 520px;

			.normal-label {
				font-size: 14px;
				font-weight: normal;
			}

			label {
				font-size: 26px;
			}

			textarea {
				resize: none;
			}

			.row.margin10 {
				margin-bottom: 10px;
				.control-label {
					width: 10%;
					float: left;
				}
				textarea {
					width: 90%;
					height: 150px;
				}
			}
		}

		.infomation {
			border: 1px solid #cccccc;
			border-radius: 5px;
			background-color: #EEEEEE;
			padding: 15px;
		}
	}

	.sign-in-up {
		margin: 100px auto;
		width: 500px;

		.separated {
			display: block;
			width: 100%;
			border-bottom: 1px solid @navbar-default-border;
		}

		.quick-login {
			margin: 20px auto;
		}

		.form-horizontal {
			margin-top: 20px;

			.icons {
				display: inline-block;
				width: 18px;
			}

			.protocol {
				margin: 0 auto;
			}
		}
	}

	.user-profile {
		width: 95%;
		margin: 40px auto;
		.radius {
			width: 60px;
			height: 60px;
			margin-left: 10px;
			border-radius: 100px;
		}

		.center, .align-center {
			text-align: center!important;
		}

		.space-4 {
			max-height: 1px;
			min-height: 1px;
			overflow: hidden;
			margin: 12px 0;
			margin: 4px 0 3px;
		}

		.space-6 {
			max-height: 1px;
			min-height: 1px;
			overflow: hidden;
			margin: 12px 0;
			margin: 6px 0 5px;
		}

		.profile-contact-links {
			display: none;
			padding: 4px 2px 5px;
			border: 1px solid #e0e2e5;
			background-color: #f8fafc;
			text-align: left;
		}

		.hr.dotted, .hr-dotted {
			border-top-style: dotted;
		}
		.hr-12, .hr12 {
			margin: 12px 0;
		}

		.hr {
			display: block;
			height: 0;
			overflow: hidden;
			font-size: 0;
			border-top: 1px solid #e3e3e3;
			margin: 12px 0;
		}

		.follow {
			width: 48%;
			padding: 0 2%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			display: block;
			margin: 0;
			float: left;
			border-left: 1px solid #e3e3e3;
			&:first-child {
				border-left: none;
			}
			.bigger-175 {
				font-size: 175%;
			}
			.blue {
				color: #478fca!important;
			}
		}

		.self-article-box {
			width: 400px;
			margin: 100px auto;
		}

		.change-pass-box {
			width: 500px;
			margin: 20px 0;
		}

		.base-info-box {
			width: 500px;
			margin: 20px 0;
		}
	}

	.ucenter {
		width: 95%;
		margin: 40px auto;

		.avatar-box {
			width: 250px;
			height: 315px;
			background-color: #f4f1ec;
			text-align: center;
			img {
				margin: 30px auto;
				width: 140px;
				height: 140px;
			}
		}



		.base-info-box {
			width: 350px;
			margin: 20px 0;
		}

		.self-cookbook-box {
			width: 400px;
			margin: 100px auto;
		}
		
		.self-article-box {
			width: 400px;
			margin: 100px auto;
		}

		.nav {
			background-color: #f4f1ec;
		}
		.nav-pills {
			&>li.active>a,
			&>li.active>a:hover,
			&>li.active>a:focus {
				color: @navbar-default-link-active-color;
				background-color: @navbar-default-link-active-bg;
			}

			&>li>a {
				color: @navbar-default-link-color;
			}

			&>li>a:hover,
			&>li>a:focus {
				color: @navbar-default-link-hover-color;
				background-color: @navbar-default-brand-hover-bg;
			}

		}
	}

	.error-box {
		margin: 10px auto;
	}
}

.osk-screening {
	margin-top: 10px;
}

.panel-screening {
	.screening {
		position: relative;
		margin: 10px;
		.class-tag {
			position: absolute;
			display: inline-block;
			width: 100px;
			color: @gray-light;
		}

		.class-link {
			display: inline-block;
			padding-left: 100px;
			a {
				padding: 2px;
				margin-right: 20px;
				color: @navbar-default-color;
				text-decoration: none;
			}
			a:hover {
				padding: 1px;
				border: 1px solid @navbar-default-color;
			}
			a.active {
				padding: 2px;
				margin-right: 30px;
				color: @body-bg;
				background-color:  @navbar-default-color;
				text-decoration: none;
			}
			a.active:hover {
				padding: 1px;
				border: 1px solid @navbar-default-color;
			}
		}
	}
}

.osk-article-waterfall {
	margin-top: 10px;
	.waterfall-item {
		position: relative;
		width: 211px;
		line-height: 1.5;
		background-color: #fff;
		box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
		-moz-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
		-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
		filter: progid:DXImageTransform.Microsoft.Shadow(color = #adacac, direction = 135, strength = 2);

		a.img {
			position: relative;
			display: block;
			width: 100%;
			height: auto;
			text-decoration: none;
			outline: 0;
			img {
				width: 100%;
				height: auto;
			}

			&:hover > .img-hover,&:active > .img-hover{
				background-color: rgba(0,0,0,0.3);
			}

			.img-hover {
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				width: 100%;
				height: 100%;
				z-index: 100;
				background-color: @transparent-bg-color;
			}
		}

		.box-digest{
			position: relative;
			margin-top: 5px;
			margin-left: 10px;
			font-size: 12px;
		}

		.box-users {
			position: relative;
			display: inline-block;
			width: 100%;
			height: 40px;
			line-height: 40px;
			padding-left: 10px;
			border-top: 1px solid #f2f2f2;
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
			background-color: #fafafa;
			img {
				width: 30px;
				height: 30px;
				border-radius: 50px;
			}
			.name {
				color: #cccccc;
				a {
					color: #478fca ;
				}
			}

		}

	}
}

.osk-waterfall {
	margin-top: 10px;
	.waterfall-item {
		position: relative;
		width: 211px;
		line-height: 1.5;
		background-color: #fff;
		box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
		-moz-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
		-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
		filter: progid:DXImageTransform.Microsoft.Shadow(color = #adacac, direction = 135, strength = 2);

		a.img {
			position: relative;
			display: block;
			width: 100%;
			height: 200px;
			text-decoration: none;
			outline: 0;
			img {
				width: 100%;
				height: 100%;
			}

			&:hover > .img-hover,&:active > .img-hover{
				background-color: rgba(0,0,0,0.3);
			}

			.img-hover {
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				width: 100%;
				height: 100%;
				z-index: 100;
				background-color: @transparent-bg-color;
			}
		}

		.box-title{
			position: relative;
			height: 45px;
			margin-top: 5px;
			margin-left: 10px;
			.caption {
				display: block;
				font-size: 16px;
				color: @main-text-color;
				margin-bottom: 3px;
			}
			.source {
				display: block;
				font-size: 12px;
				color: @gray-lighter;
			}
		}

		.box-handle {
			position: relative;
			display: inline-block;
			width: 100%;
			height: 30px;
			line-height: 30px;
			padding-left: 5px;
			border-top: 1px solid #f2f2f2;
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
			background-color: #fafafa;

			.btn-group {
				margin: 0 auto;
				button {
					color: @gray-text-color;
					outline: none;
					border: 0;
					background-color: transparent;
					&:hover , &:active {
						color: @main-text-color;
					}
					&.fa-heart.active {
						color: #f56954;
					}
					&.fa-star.active {
						color: #f39c12;
					}
					&.fa-comment.active {
						color: #00a65a;
					}
				}
			}
		}

	}
}

/*
 * page-navigation
 */
#page-navigation {
	text-align: center;
	padding: 20px 0 50px 0;
	display: none;
	a {
		width:32px;
		height: 32px;
		line-height: 32px;
		display: inline-block;
		color: @main-text-color;
		border: 1px solid @border-color;
		background: @common-bg-color;
		text-decoration: none;
		&:hover {
			border: 1px @brand-success solid;
			background: @brand-success;
			color: @body-bg;
		}
		&.cur {
			border: 1px @brand-success solid;
			background: @brand-success;
			color: @body-bg;
		}
	}
	.page-navigation-prev, .page-navigation-next {
		display: inline-block;
		height: 32px;
		line-height: 32px;
		width: 80px !important;
	}
	span.disabled {
		color: @border-color;
		border: 1px @border-color solid;
	}
}

.osk-footer {
	background-color: @common-bg-color;
	border-top: 5px solid @brand-success;
	overflow: hidden;
	.box-default-shadow();

	a {
		font-size: 12px;
		color: @main-text-color;
		&:hover,
		&:active {
			color: @main-text-hover-color;
			text-decoration: none;
			outline: 0;
		}
	}

	.copyright {
		line-height: 22px;
		margin-top: 15px;
		.box-default-shadow();
		.copy-main {
			margin-left: 170px;
			margin-right: -20px;
			.item {
				float: left;
				height: 128px;
				padding: 0 40px;
				border-left: 1px dotted #d2d2d2;
				dl {
					margin: 0;
					dt {
						color: @gray-text-color;
						font-size: 14px;
						font-weight: normal;
					}
					dd {
						margin-left: 0;
					}
				}
			}

			.item-apps {
				text-align: center;
				padding: 0 25px;
				color: @main-text-color;
				.android {
					display: inline-block;
					width: 100px;
					height: 100px;
					background: url(../img/android-qrcode.jpg) center center no-repeat;
					background-size: cover;
				}

				.ios {
					display: inline-block;
					width: 100px;
					height: 100px;
					background: url(../img/ios-qrcode.jpg) center center no-repeat;
					background-size: cover;
				}
			}
		}
	}

	.copy-footer {
		clear: both;
		background: @gray-bg-color;
		margin-top: 20px;
		padding: 20px 0;
		text-align: center;
		p {
			margin: 0;
		}
	}

	@media (max-width: @screen-md-max) {
		.copyright {
			.copy-main {
				margin: 0 -40px 0 80px;
			}
		}
	}
	@media (max-width: @screen-sm-max) {
		.copyright {
			.copy-main {
				margin: 0 -70px;
			}
		}
	}

	@media (max-width: 800px) {
		.copyright {
			display: none;
		}
		.copy-footer {
			margin-top: 0;
		}
	}

	@media (max-width: @grid-float-breakpoint-max) {
		.copyright {
			display: none;
		}
		.copy-footer {
			margin-top: 0;
		}
	}
}

#elevator_item {
	width: 50px;
	position: fixed;
	right: 15px;
	bottom: 10px;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	opacity: 1;
	z-index: 9999;

	.hidden {
		display: none;
	}
	.show {
		display: block;
	}
}

#elevator {
	display: block;
	width: 50px;
	height: 50px;
	background: url(../img/icon_top.png) center center no-repeat;
	background-color: #444;
	background-color: rgba(0,0,0,.6);
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	cursor: pointer;
	margin-bottom: 10px;
}

/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
	color: #f9f9f9 !important;
}
.bg-gray {
	background-color: #eaeaec !important;
}
.bg-black {
	background-color: #222222 !important;
}
.bg-red {
	background-color: #f56954 !important;
}
.bg-yellow {
	background-color: #f39c12 !important;
}
.bg-aqua {
	background-color: #00c0ef !important;
}
.bg-blue {
	background-color: #0073b7 !important;
}
.bg-light-blue {
	background-color: #3c8dbc !important;
}
.bg-green {
	background-color: #00a65a !important;
}
.bg-navy {
	background-color: #001f3f !important;
}
.bg-teal {
	background-color: #39cccc !important;
}
.bg-olive {
	background-color: #3d9970 !important;
}
.bg-lime {
	background-color: #01ff70 !important;
}
.bg-orange {
	background-color: #ff851b !important;
}
.bg-fuchsia {
	background-color: #f012be !important;
}
.bg-purple {
	background-color: #932ab6 !important;
}
.bg-maroon {
	background-color: #85144b !important;
}
/* Text colors */
.text-red {
	color: #f56954 !important;
}
.text-yellow {
	color: #f39c12 !important;
}
.text-aqua {
	color: #00c0ef !important;
}
.text-blue {
	color: #0073b7 !important;
}
.text-black {
	color: #222222 !important;
}
.text-light-blue {
	color: #3c8dbc !important;
}
.text-green {
	color: #449d44 !important;
}
.text-navy {
	color: #001f3f !important;
}
.text-teal {
	color: #39cccc !important;
}
.text-olive {
	color: #3d9970 !important;
}
.text-lime {
	color: #01ff70 !important;
}
.text-orange {
	color: #ff851b !important;
}
.text-fuchsia {
	color: #f012be !important;
}
.text-purple {
	color: #932ab6 !important;
}
.text-maroon {
	color: #85144b !important;
}