//颜色变量配置
@main-text-color:#333333;
@main-bg-text-color:#FFFFFF;
@main-text-hover-color: #444444;
@main-text-active-color:#555555;
@main-text-disabled-color:#222222;
@label-text-color:#CCCCCC;
@gray-text-color:#BBBBBB;
@high-gray-text-color:#EEEEEE;
@high-logo-text-color:#FFFF66;


@main-bg-color:#EEEEEE;
@common-bg-color:#FFFFFF;
@navbar-bg-color:rgba(255,255,255,1);
@navbar-transparent-bg-color:rgba(255,255,255,0.5);
@gray-bg-color:#DDDDDD;
@transparent-bg-color:transparent;

@split-green-color:#003300;
@split-gray-color:#DDDDDD;

@border-color:#DDDDDD;
